version: '3'
services:
  mysql:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_USERNAME: testuser
      MYSQL_PASSWORD: testuserpass
      MYSQL_DATABASE: testdb
    ports:
     - 3306:3306
  hive:
    depends_on:
      - mysql
    image: steemit/hive
    build: .
    environment:
      DATABASE_URL: mysql://root:root_password@mysql:3306/testdb
      LOG_LEVEL: DEBUG
      JUSSI_URL: https://api.steemit.com
      STEEMD_URL: https://api.steemit.com
    links:
      - mysql:db
    ports:
      - 9000:9000
    volumes:
      - .:/app
    restart: always

