[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

sqlalchemy = "*"
mysqlclient = "*"
click = "*"
"click-spinner" = "*"
funcy = "*"
toolz = "*"
maya = "*"
ujson = "*"
prettytable = "*"
jsonrpcserver = "*"
aiohttp = "*"
aiomysql = "*"
"psycopg2" = "*"


[dev-packages]

ipython = "*"
"pep8" = "*"
pytest = "*"
"pytest-console-scripts" = "*"
"pytest-docker" = "*"
"pytest-pylint" = "*"
recommonmark = "*"
"sphinxcontrib-programoutput" = "*"
"sphinxcontrib-restbuilder" = "*"
yapf = "*"
sphinx = "*"
"autopep8" = "*"