[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

sqlalchemy = "*"
mysqlclient = "*"
funcy = "*"
toolz = "*"
maya = "*"
ujson = "*"
prettytable = "*"
jsonrpcserver = "*"
aiohttp = "*"
aiomysql = "*"
"psycopg2-binary" = "*"


[dev-packages]

"ipython" = "*"
"pep8" = "*"
"pytest" = "*"
"pytest-cov" = "*"
"pytest-docker" = "*"
"pytest-pylint" = "*"
"pytest-console-scripts" = "*"
"yapf" = "*"
"autopep8" = "*"
